h1 {
	color: 	#D3D3D3;
	position: relative;
}
.container {
	display: block;
	width:90%;
    min-height: 500px;
    height:auto;
}
body {
	background-color: grey;
	font-family: colombia;
	font-size: 50px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 100px;
}

@media (max-width: 500px) {
	h1 {
		font-family: colombia;
		size: 20px;
	}
	body {
		background-color: black;
		font-family: malcolm;
		font-size: 35px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}
	.item {
		color: grey
	}
}